body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

/**===HEADER=============================*/
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container-header {
    display: flex;
    align-items: center;
}

.header-navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    color: var(--NAVY-BLUE, #4d5ae5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 17.5px 0;
}

.header-logo-span {
    color: var(--IRIS, #2e2f42);
}

.menu-open-btn {
    display: block;
    margin-left: auto;
    padding: 0;
    line-height: 0;
    border: none;
    width: 24px;
    height: 24px;
    background-color: transparent;
}

.header-menu-list {
    display: none;
}

.current {
    color: #404bbf;
}

.header-address {
    display: none;
    margin-left: auto;
}

/**===== MOB-MENU =============================*/
.mob-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background: #FFF;
    width: 100%;
    height: 640px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 24px 24px 40px 16px;

}

.mob-menu-open-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    padding: 8px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-and-adr {}

.mob-menu-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 168px;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.current {
    color: #404bbf;
}

.mob-address-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.mob-address-link {
    color: var(--SLATE, #434455);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.current {
    color: #404bbf;
}

.mob-soc-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    margin-top: 48px;
}

.mob-soc-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.mob-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: #f4f4fd;
    border-radius: 50%;
    background-color: #4d5ae5;
}

/*!===MAINE============================!*/

/**===Solutions=========================*/

.solutions {
    background: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/Mob/people-office-mob1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .solutions {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Mob/people-office-mob2x.jpg);
    }
}

.main-solutions-title {
    color: var(--WHITE, #fff);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.05em;
    width: 169px;
    margin: 0 auto;
    margin-bottom: 72px;
    text-transform: capitalize;
}

.main-solutions-btn {
    color: var(--WHITE, #fff);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--IRIS, #4d5ae5);
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**===FEATURES=======================!*/

.features {
    padding: 96px 0;
}

.features-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-list-item {
    width: 100%;
}

.feature-icon-item {
    display: none;
}

.features-subtitle {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.features-list-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**===TEAM============================*/

.team {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.team-title {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.045em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.team-list-card {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-worker {
    padding: 32px 0;
    width: 232px;
    margin: 0 auto;
}

.team-image-name {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-list-text {
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.icon-list-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: #f4f4fd;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list-link:hover {
    background-color: #404bbf;
}

.icon-list-link:focus {
    background-color: #404bbf;
}

/**===PORTFOLIO========================*/

.portfolio {
    background: #fff;
    padding: 96px 0;
}

.portfolio-title {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-list-item {
    width: 100%;
    border: 1px solid var(--CLOUD, #f4f4fd);
    background: var(--WHITE, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    border: 1px solid var(--CLOUD, #f4f4fd);
    background: var(--WHITE, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfoio-image-text {
    display: none;
    transform: translateY(0);
}

.portfoio-image-wrap {
    position: relative;
    overflow: hidden;
}

.portfoio-image-text {
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--IRIS, #4d5ae5);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfoio-image {
    background: var(--WHITE, #fff);
}

.portfolio-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-image-name {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**===FOOTER=============================*/
.footer {
    background: var(--NAVY-BLUE, #2e2f42);
    padding: 96px 0;
}

.container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.footer-logo-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 72px;
}

.footer-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-logo-span {
    color: var(--IRIS, #f4f4fd);
}

.footer-text {
    color: var(--CLOUD, #f4f4fd);
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 288px;
    /* padding-bottom: 72px; */
}

.soc-net {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 72px;
}

.soc-text {
    color: var(--WHITE, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.icon-list-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-list-item {
    width: 40px;
    height: 40px;
}

.footer-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: #f4f4fd;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:hover {
    display: none;
    background-color: #31d0aa;
}

.footer-list-link:focus {
    display: none;
    background-color: #31d0aa;
}

/**===FOOTER-FORM==============================*/

.footer-subs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.form-pf {
    width: 75px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.footer-form-label {
    padding-bottom: 16px;
}

.footer-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #fff);
    background-color: transparent;
    line-height: 1.5;
    font-size: 12px;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;
}

.subs-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    color: var(--WHITE, #fff);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}

.subs-icon {
    margin-left: 16px;
}

/**===BACKDROP==============================*/
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/**===MODAL================================*/
.modal {
    width: 288px;
    height: 623px;
    border-radius: 4px;
    background: var(--DAIRY, #fcfcfc);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.modal-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    padding: 8px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
}

.modal-btn:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
}

.modal-title {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    width: 255px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
}

.modal-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 58px;
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    color: var(--LIGHT-SLATE, #8e8f99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-input {
    position: relative;
}

.input-content {
    width: 256px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-content:focus {
    border-color: #4d5ae5;
}

.input-content:focus+.modal-icon {
    fill: #4d5ae5;
}

.modal-icon {
    position: absolute;
    transform: translateY(-50%);
    left: 16px;
    top: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**====Textarea=====================*/

.modal-group-text {
    height: 138px;
    width: 100%;
    margin-bottom: 16px;
}

.user-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment:focus {
    border-color: #4d5ae5;
}

/*.user-comment:focus-within {
    border-color: #4D5AE5;
}*/

/**===Check-box==============*/

.check-box-place {
    margin-bottom: 24px;
}

.modal-privacy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.span-privacy {}

.user-privacy {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.span-privacy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.user-privacy:checked+.modal-privacy>.span-privacy {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-icon {}

.link-privacy {
    /* display: block; */
    color: #4d5ae5;
}

.send-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    color: var(--WHITE, #fff);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}