@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }

    /**===HEADER=============================*/

    .header-logo {
        margin-right: 120px;
    }

    .header-menu-list {
        display: flex;
        gap: 40px;
    }

    .menu-open-btn {
        display: none;
    }

    .header-menu-link {
        color: inherit;
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--SLATE, #434455);
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current {
        color: #404bbf;
    }

    .current::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .header-menu-link:hover,
    .header-menu-link:focus {
        color: #404bbf;
    }

    .header-address {
        display: block;
    }

    .header-address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }


    .header-address-link {
        color: var(--NAVY-BLUE, #2E2F42);
        font-size: 12px;
        line-height: 1.17;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-address-link:hover,
    .header-address-link:focus {
        color: #404bbf;
    }

    .mob-menu {
        display: none;
    }

    /**===Solutions=========================*/

    .solutions {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Tab/people-office-1x.jpg);
    }

    @media (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .solutions {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/Tab/people-office-2x.jpg);
        }
    }


    .main-solutions-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        width: 496px;
        margin-bottom: 36px;
    }

    /**===FEATURES=======================!*/

    .features-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features-list-item {
        width: calc((100% - 24px) / 2);
    }

    .features-subtitle {
        text-align: left;
        letter-spacing: 0.02em;
    }


    /**===TEAM============================*/
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    /**===PORTFOLIO========================*/
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }

    /**===FOOTER=============================*/

    .container-footer {
        justify-content: flex-start;
        align-items: baseline;
        padding-left: 108px;
    }

    .footer-logo {
        margin: 0;
    }

    .footer-logo-text {
        display: block;
        margin-right: 24px;
    }

    .footer-text {
        max-width: 264px;
        margin-top: 16px;
    }

    .soc-net {
        display: block;
        padding: 0;
    }

    /**===FOOTER-FORM==============================*/

    .footer-subs {
        display: block;
    }

    .footer-form {
        flex-direction: row;
    }

    .footer-form-label {
        margin-right: 24px;
        padding-bottom: 0;
    }

    .modal {
        width: 408px;
        height: 584px;
        padding: 72px 24px 24px 24px;
    }

}